@import './pure-material-indigo-cyan-slim.css';

.icon-logo
    display: block;
    width: 56rem;
    height: 56rem;
    padding: 12rem;

[data-list]>li>:first-child>[class*=icon]
    font-size: 12rem;

body>header>nav
    justify-content: left;

svg
    fill: currentColor;

[data-list]>li>:first-child
    display: flex;

$seconds = 200;

@keyframes fadeIn
    0%
        opacity: 0;
        transform: translate(10%, 0%);
    100%
        opacity: 1;
        transform: translate(0%, 0%);
.fadeIn
    animation fadeIn ($seconds)ms ease-in-out normal

[data-fab]
    bottom: 72rem;

[data-fab*="back"]
    line-height: 52rem;
    font-size: 30rem;
    padding: 0 4rem 0 0;

.comment-item
    overflow: hidden;
    border-top: 1rem solid #ccc;
    padding: 16rem;
    margin-top: 16rem;
    &>div
        overflow: hidden;

section>.comment-item
    margin: 0 -16rem 0;
    border-top: 0;

.collapse-button
    display: block;
    padding: 4rem;
    line-height: 1;

.comments-collapsed
    padding: 4rem;
    line-height: 1;

footer>h1
    padding: 16rem;
    font-size: 14rem;

small
    opacity: 1;   
