<!DOCTYPE html>
<html lang="en">
<head>
      <title>{{title}}</title>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"/>
      <!-- Icons Start -->
      {{iconLinks}}
      <!-- Icons End -->
      <style type="text/css">{{css}}</style>
      <script type="text/javascript">{{js}}</script>
</head>
<body>
    <header>
        <img src="{{upDir}}/images/logo-48x48.png" alt="Mithril" class="icon-logo">
        <nav>
            <a href="{{upDir}}/top" data-button="">Top</a>
            <a href="{{upDir}}/new" data-button="">New</a>
            <a href="{{upDir}}/show" data-button="">Show</a>
            <a href="{{upDir}}/ask" data-button="">Ask</a>
            <a href="{{upDir}}/job" data-button="">Jobs</a>
        </nav>
    </header>
    <article>
          <section data-card="full-width">
                <section></section>
          </section>
    </article>
    <footer>
        <h1>
            Built with <a target="_blank" rel="noopener" href="https://mithril.js.org/" data-font="accent-100">Mithril</a>
            <br>and <a target="_blank" rel="noopener" href="https://masquerade-circus.github.io/pure-material-css/#about" data-font="accent-100">Pure Material</a>
        </h1>
    </footer>
</body>
</html>
